* {
  margin: 0;
  padding: 0;
}
body {
  background: #f1f5f8;
}
.active {
  background-color: #1976d2;
  color: #fff;
}
.active svg {
  fill: #fff;
}
.rdrDefinedRangesWrapper {
  display: none;
}

.ant-picker {
  width: 100%; /* Adjust the width as needed */
}

/* Adjust height */
.ant-picker {
  height: 55px; /* Adjust the height as needed */
}
.ant-picker-dropdown {
  z-index: 9999;
}
.ant-picker .ant-picker-input > input {
  font-size: 18px;
}
/* :where(.css-dev-only-do-not-override-mzwlov).ant-picker-dropdown {
  z-index: 9999;
}
.range {
  width: 100%;
}
:where(.css-dev-only-do-not-override-mzwlov).ant-picker-outlined {
  width: 100%;
  height: 55px;
}
:where(.css-dev-only-do-not-override-mzwlov).ant-picker
  .ant-picker-input
  > input {
  font-size: 18px;
} */
